.manage-panels {
  background-color: #414141;
  border-radius: 5px;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  height: 35px;
}

.manage-panels a {
  padding-left: 50px;
  color: white;
  transition: color 0.2s ease;
  text-decoration: none;
}

.manage-panels a:hover {
  color: #ff6100;
}