.manage-main-panel section {
  background-color: white;
  width: 70%;
  height: 440px;
  border-radius: 5px;
  margin-top: 70px;
}

.manage-main-panel section > div {
  width: 70%;
  margin: auto;
}

.manage-main-panel button {
  background-color: #ff6100;
  color: white;
  border: 0px;
  border-radius: 5px;
  width: 70%;
  height: 35px;
  transition: background-color 0.2s ease;
}
.manage-main-panel button:hover {
  background-color: #007721;
}

.candidate-table {
  margin-top: 40px;
}

.candidate-table,
.candidate-table tr,
.candidate-table td {
  border: 1px solid black;
}

.candidate-table th,
.candidate-table td {
  padding: 7px;
}
