.voting-section {
  background-color: #414141;
  width: 70%;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
  margin-top: 200px;
}

.voting-section button {
  background-color: #007721;
  color: white;
  border: 0px;
  border-radius: 5px;
  width: 80%;
  height: 35px;
  margin-top: 20px;
}

.voting-section button:hover {
  background-color: #006377;
}

.voting-select {
  width: 80%;
  height: 35px;
  border-radius: 5px;
}
